.app-header {
  height: 3rem;

  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #333;

  &__logo {
    margin-top: -0.25rem;
    width: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;

    text-shadow: 1px 1px violet, -1px -1px cyan;
  }
}
