.chat {
  position: relative;
  height: calc(100vh - 7rem);
  width: 100%;
  min-width: 24rem;

  display: grid;
  grid:
    'header' auto
    'message-input' auto
    'messages' 1fr /
    100%;

  color: #fff;
  background: #333;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);

  &__tooltip {
    position: absolute;
    left: -2.5rem;
    top: 8rem;

    display: flex;
    flex-direction: column;

    h6 {
      color: #aaa;
    }

    &__sort {
      background: #555;

      display: flex;
      flex-direction: column;
      align-items: center;

      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      label {
        cursor: pointer;

        input {
          display: none;
        }

        span {
          width: 100%;

          padding: 0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;

          line-height: 1.2rem;
        }

        input[checked] + span {
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
