.chat {
  height: calc(100vh - 7rem);
  width: 100%;

  display: grid;
  grid:
    'header' auto
    'message-input' auto
    'messages' 1fr /
    100%;

  color: #fff;
  background: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  &__header {
    z-index: 1000;
    height: 3rem;

    padding: 0 2rem;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.8);
    background: #555;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}
